@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Анализатор</h1>
    <p class="lead"> - это веб-приложение для обработки результатов педагогического тестирования</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Загрузите данные</h2>
        <p>
            Приложение обрабатывает результаты тестирования и предоставляет отчет в зависимости от их специфики.    
        </p>
    </div>
    <div class="col-md-4">
        <h2>Настройте программу</h2>
        <p>
            Выберите, какие формы включать в отчет и как сортировать результаты.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Прочтите справку</h2>
        <p>
            Перед использованием приложения желательно ознакомиться с правилами его эксплуатации.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="~/Upload">Загрузка &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="~/Settings">Настройки &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary" href="~/Home/About">О проекте &raquo;</a></p>
    </div>
</div>