@using CourseWork.Models;
@model UploadModels

@{
    ViewBag.Title = "Загрузки";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

            <h2>Загрузите результаты тестирования</h2><br/>
    
<div>
            <form class="navbar-form navbar-left" role="search">
                <p class="text-danger">@ViewBag.ErrorMessage</p>
                @Html.TextBoxFor(x => x.File, new { type = "file" })
                @Html.ValidationMessageFor(x => x.File)
                <br/>
                <button type="submit">Загрузить</button>
                <p></p>
            </form>
</div>
}