@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title</h2><br />


<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <b>Приложение:</b>
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <ul>
                    <li><p>При больших выборках (>100) возможны задержки в предоставлении отчета при отображении таблицы (по умалчанию она <strong>не показывается</strong>);</p></li>
                    <li><p><strong>Сохраняйте</strong> настройки после изменения;</p></li>
                    <li><p>*Если выборка данных распределена не нормально, в отчете будет отражены <strong>лишь первичные баллы испытуемых</strong>, без анализа;<p></li>
                    <li><p>Результаты анализа теряются при выходе с соответствующей страницы;</p></li>
                    <li><p>Сохранение <strong>таблиц</strong> результатов возможно лишь через стандартные функции браузера (Ctrl+S).</p></li>
                </ul>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <b>Загрузка файла:</b>Требования к данным
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
                <ul>
                    <li><p>В файлах загрузки допускаются <strong>только дихотомические символы;</strong></p></li>
                    <li><p>В файлах формата csv, xls/xlsx не должно быть форматированных таблиц, выделенных результатов и т.д;</p></li>
                    <li><p><strong>В файле формата txt баллы должны быть построчно разделены пробелом;</strong></p></li>
                    <li><p>Данные загруженного файла <strong>не могут содержать</strong> лишнюю информацию (столбец имен тестируемых);</p></li>
                    <li><p>В файле <strong>не должно быть пропусков</strong>, результаты - прямоугольник ответов (тестируемые * вопросы).</p></li>
                </ul>
            </div>
        </div>
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <b>Методика анализа:</b>
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
                <ul>
                    <li><p>Данные проверяются на нормальность с помощью критериев <strong>Хегази-Грина</strong>;</p></li>
                    <li><p>Используются <strong>приближенные формулы</strong> для вычисления результата (Z-шкала, T-шкала);</p></li>
                    <li><p>Ввиду особенностей критериев, выборки относительно небольших размеров будут обработаны с отклонением.</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>