@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<br />

<address>
    <strong class="text-primary">Помощь:</strong> ndmelentev@yandex.ru<br />
    <strong class ="text-primary">Контактный телефон:</strong> 8-916-713-38-78
</address>