@using CourseWork.Models
@model SettingsModels

@{
    ViewBag.Title = "Настройки";
}

<h2>Настройки</h2>
<br />
<form method="post" class="form-group">
    <p><span title="Выберите, какие формы показывать в отчете." class="text-primary"><b>Результаты:</b></span></p>
    <div class="row">
        <div class="col-md-4">
            <p>Абсолютная шкала  @if(SettingsModels.Abs) 
                                 {<input type="checkbox" name="chk1" id="1" checked/>}
                                 else
                                 {<input type="checkbox" name="chk1" id="1" />}</p>
            <p>Таблица нормального распределения*  @if(SettingsModels.RawScore)
                                         { <input type="checkbox" name="chk2" id="2"checked />}
                                         else
                                         { <input type="checkbox" name="chk2" id="2"/> }</p>                                       
            <p>Шкала процентилей*  @if (SettingsModels.Perc)
                { <input type="checkbox" name="chk3" id="3" checked />}
                else
                { <input type="checkbox" name="chk3" id="3" /> }
            </p>
            <p>Z-шкала*  @if (SettingsModels.Z)
                { <input type="checkbox" name="chk4" id="4" checked />}
                else
                { <input type="checkbox" name="chk4" id="4" /> }
            </p>

        </div>
        <div class="col-md-4">
            <p>T-шкала*  @if (SettingsModels.T)
                { <input type="checkbox" name="chk5" id="5" checked />}
                else
                { <input type="checkbox" name="chk5" id="5" /> }
            </p>
            <p>Шкала 1 квартиля*  @if (SettingsModels.Ckvar25)
                { <input type="checkbox" name="chk6" id="6" checked />}
                else
                { <input type="checkbox" name="chk6" id="6" /> }
            </p>
            <p>Шкала 3 квартиля*  @if (SettingsModels.Ckvar75)
                { <input type="checkbox" name="chk7" id="7" checked />}
                else
                { <input type="checkbox" name="chk7" id="7" /> }
            </p>
            <p>Таблица результатов**  @if (SettingsModels.Table)
                { <input type="checkbox" name="chk8" id="8" checked />}
                else
                { <input type="checkbox" name="chk8" id="8" /> }
            </p>
        </div>
    </div>
    <br />
    <p><span title="Выберите, как отсортировать таблицу в отчете" class="text-primary"><b>Сортировка таблицы:</b></span></p>
    <div>
        @if (SettingsModels.Sort)
        {
            <div class="row">
            <div class="col-md-4">
                <p>По баллам  <input type="radio" name="radio" id="radio1" class="radio" checked value="1" /></p>
            </div>

    <div class="col-md-4">
        <p>По номеру участника  <input type="radio" name="radio" id="radio2" class="radio" value="2" /></p>
    </div>
            </div>
        }
        else
        {
            <div class="row">
            <div class ="col-md-4">
                <p>По баллам  <input type="radio" name="radio" id="radio1" class="radio" value="1" /></p>
            </div>

    <div class="col-md-4">
        <p>По номеру участника  <input type="radio" name="radio" id="radio2" class="radio" checked value="2" /></p>
    </div>
                </div>
        }
    </div>
    <br/>
    <p>* Такие формы не будут добавлены в отчет, если данные распределены не нормально. Подробнее читайте в <a class="navbar-link" href="~/Home/About"><u>справке</u></a>.</p>
    <br />
    <p>** Данная фукнция серьезно тормозит работу программы при больших выборках данных.</p>
    <p>** Вы можете получить данные таблицы с помощью кнопки "Сохранить" после загрузки файла.</p>
    <input type="submit" class="btn btn-primary" style="float:right" value="Сохранить"/>
    <br />
</form>

